<form action="/posts/<%=@post.id%>" method="post">

  <input id="hidden" type="hidden" name="_method" value="patch">

  <h1> The current post is:</h1>
  <h2><%=@post.name%></h2>
  <h2><%=@post.content%> </h2>

  <label for="name">Post:</label>
  <input id="name" type="text" name="name">

  <label for="name">Content:</label>
  <input id="content" type="text" name="content">

  <input id ="submit" type="submit">
</form>
