<p>Post Name: <%=@post.name%> </p>
<p>Post Content: <%=@post.content%> </p>


<form action="/posts/<%=@post.id%>/delete" method="post">

  <input id="hidden" type="hidden" name="_method" value="DELETE">

  <input id ="submit" type="submit" value="delete">

</form>
